/* footer mobile styles and sizes  */
/* hide the li display when it clicked */
footer{
    grid-area:footer;
    display: grid;
    background-color: #f5f5f5;
    height: 100%;
}
footer section:last-of-type{
    height: 25%;
    align-items: flex-end;
}
footer section ul li {
  display: none;
}
footer section ul {
  padding: 0;
}
/* using grid for the mobile version  */
.besuchen {
  display: grid;
  grid-template-rows: repeat(4, 5vh);
  grid-template-areas:
    "besuchen-sie-uns"
    "start-footer"
    "mogliche"
    "end-footer";
}
/* naming the grid areas */
.besuchen-sie-uns{
    grid-area: besuchen-sie-uns;
}
/* start footer div */
.start-footer{
    grid-area: start-footer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1%;
}
.mogliche{
    grid-area: mogliche;
}
.end-footer {
  grid-area: end-footer;
  display: flex;
  gap: 3%;
  align-items: center;
}

/* end footer list positionwith flex and styles  */
.end-footer-list-impressum ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 6%;
}
.end-footer-list-impressum ul li{
    display: flex;
}
footer hr{
    width: 90%;
    border-top: 1px gray solid; 
    opacity: 0.5;
}


