/* footer mobile styles and sizes  */
/* hide the li display when it clicked */
footer section ul li{
    display: none;
}
footer section ul{
padding: 0%;
}
/* using grid for the mobile version  */
.besuchen{
    display: grid;
    grid-template-rows: repeat(4 , 6vh);
    grid-template-areas: 
    "sie-uns"
    "start-footer"
    "moglihe"
    "end-footer";
}
.moglihe{
    grid-area: mogliche;
}
.start-footer{
    grid-area: start-footer;
    display: flex;
    justify-content: start;
    gap: 1%;
}
.sie-uns{
    grid-area: sie-uns;
}
.end-footer{
    grid-area: end-footer;
    display: flex;
    gap: 3%;
    align-items: center;
}

.navigator-db{
    border-radius: 6%;
    background: black;
    color: #FFF;
    padding: 1px 0rem 20px ;
    text-decoration: none;
}
.das-ist-grun{
    border-radius: 6%;
    background: green;
    color: #FFF;
    padding: 1px 0rem 20px ;
    text-decoration: none;
}