header {
  grid-area: header;
  background-color: greenyellow;
  display: flex;
  width: 100%;
  border-bottom: 8px red solid;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo size */
.logo {
  width: 11vw;
  height: 3.5vh;
  margin-left: 5%;
}

/* hide the menu on top and the second nav*/
header nav .logo + div,
nav:nth-of-type(2) {
  display: none;
}
.end-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 20%;
  gap: 10%;
  margin-right: 4%;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
/* controlling the size of all lines */
.hamburger div {
  width: 1.4rem;
  height: 0.1rem;
  background-color: gray;
  border-radius: 2px;
  border: 0.1px gray solid;
  display: flex;
  align-items: center;
}
