main {
  grid-area: banner-form-carousel;
  display: grid;
  grid-template-rows: 40vh 120vh 30vh;
  grid-template-areas:
    "banner-form-carousel"
    "cards"
    "regional-unterwegs";
}
/* name grid areas */

.cards {
  grid-area: cards;
}
.regional-unterwegs {
  grid-area: regional-unterwegs;
}
