@import url(./normalize.css);
@import url(/css/footer.css);
@import url(/css/header.css);
@import url(/css/main.css);
body {
  display: grid;
  width: 100vw;
  grid-template-rows: 35vh 180vh 50vh;
  grid-template-areas:
    "header"
    "banner-form-carousel"
    "footer";
}


1 baner-ca
2 cards
3 regional