@import url(./normalize.css);
@import url(/css/footer.css);
@import url(/css/header.css);
body {
  display: grid;
  width: 100vw;
  grid-template-rows: 35vh 180vh 50vh;
  grid-template-areas:
    "header"
    "banner-form-carousel"
    "footer";
}
main {
  grid-area: banner-form-carousel;
  background: orange;
}

